/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2022, 10:52:41 AM
    Author     : PC
*/
.small-img{
    height: 15%;
    width: 15%;
    margin: 7.5px;
}
.btn-floating{
    border-radius: 50%;
    width: 10px;
    height: 25px;
}
.center{
    margin: auto;
}
.main{
    position: fixed; left: 0;top: 0; background-image: url(images/background.png); background-size: contain;
}
.message{
    position: absolute;
}
