/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : Apr 20, 2022, 10:52:41 AM
    Author     : DucHT
*/

body {
    font-family: 'Roboto', 'Segoe UI', 'sans-serif'
}

.relative {
    position: relative;
}

.hd-ov {
    overflow: hidden;
}

.right {
    float: right;
}

.right-col {
    float: inline-end;
}

.col {
    width: 45.8%;
    display: inline-block;
}

.img-125 {
    height: 25%;
    width: 25%;
    margin: 7.5px;
}

.input {
    background-color: #fff;
    border-radius: 3px;
    padding: 0;
}

.btn {
    border: none;
    box-shadow: none;
}

.form .submit {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 11px 25px;
    border-radius: 3px;
    margin-top: 40px;
}

.link {
    text-decoration: none;
}

.bg-black {
    background-color: rgb(44, 43, 43);
}

.bg-gray {
    background-color: #f6f6f6;
    color: #999;
}

.item-bottom {
    margin-top: calc(48vh);
}

.warning {
    color: red;
}

button {
    margin-left: 10px;
    padding: 0px 0px 10px 10px;
}

.row {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-3 {
    display: inline-block;
    width: 30%
}

.col-7 {
    display: inline-block;
    width: 70%
}

.col-4 {
    display: inline-block;
    width: 40%
}

.col-6 {
    display: inline-block;
    width: 55%
}

.field-name {
    font-weight: 500;
    font-size: 16px;
    width: 180px;
}

.input {
    border: 1px solid #d3d3d3;
    padding: 7px;
    font-size: 15px;
}

.input-select {
    width: 58.6%;
}

.disabled {
    color: black;
    background-color: #f6f6f6;
}

select {
    border: 1px solid #d3d3d3;
    padding: 7px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f6f6f6;
}

.no-padding {
    padding: 0%;
}
option{
    border-radius: 0%;
}
.note{
    box-sizing: border-box;
    background-color: #eee;
    color: #999;
    text-align: center;
    font-size: small;
    font-style: italic;
    padding: 17px 20px;
}