/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 12, 2022, 5:23:20 PM
    Author     : PC
*/

body {
    background-image: url('https://www.lifewire.com/thmb/80V05G4fsNnwymeHlctybBEJabU=/650x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/404-not-found-error-explained-2622936-Final-fde7be1b7e2e499c9f039d97183e7f52.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}