/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : May 4, 2022, 8:38:21 AM
    Author     : PC
*/

#base-panel {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 3;
    width: 90px;
}

#main-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 120%;
    z-index: 3;
    width: 270px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

#main-menu .header-title {
    height: 74px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#main-menu .menu-box {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#main-menu .menu-box:last-child{
    border-bottom: none;
}
.header-title .name {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 22px;
    font-weight: 300;
    color: #111;
}

.items {
    position: relative;
    z-index: 1000;
}

.item {
    text-align: center;
    cursor: pointer;
    position: relative;
    color: rgba(255, 255, 255, 0.3);
    z-index: 9999;
    height: 83px;
    box-sizing: border-box;
    padding-top: 10px;
    font-weight: bold;
}


.item:first-child {
    padding-top: 7%;
    height: 59px;
    box-sizing: border-box;
}

.item-inner {
    width: 70%;
    height: calc(8vh);
    margin-left: 15%;
}

.active {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.user-ava {
    margin-top: 15%;
    border-radius: 50%;
    background-size: cover;
}

.img-sm {
    width: 32px;
    height: 32px;
}

.img-md {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.inner-icon {
    padding-top: 10%;
}

.inner-content {
    font-size: 12px;
}

.inner-content p {
    font-weight: bold;
}

.main {
    margin-left: 100px;
    width: calc(77vw);
}

.main-header {
    height: 74px;
    margin-left: 10px;
    border-bottom: 2px solid #eee;
    width: calc(100vw - 420px);
}

#header-title {
    margin: 0%;
    text-transform: uppercase;
    color: #ccc;
    font-size: 11px;
    font-weight: normal;
    padding-bottom: 3px;
}

.sub-title {
    font-size: 14px;
}

#header-content {
    margin: 0%;
    font-size: 18px;
    font-weight: 300;
    color: #222;
}

.sub-infor {
    float: left;
    padding-top: 15px;
}

.infor {
    padding-top: 8px;
    font-size: 14px;
}

.header-act {
    float: right;
    border: none;
    background-color: #17C286;
    margin-top: 18px;
    padding: 9px 15px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 15px;
    cursor: pointer;
}

.btn-back {
    float: left;
    padding: 17px 10px;
    color: #ccc;
    cursor: pointer;
}

.main-menu {
    margin-left: calc(90vw);
    width: calc(20vw);
}

#profile {
    margin: auto;
    width: 600px;
    /*padding: 20px 20px 0px calc((80vw - 550px) / 2);*/
}
#profile .list {
    padding-top: 40px;
    padding-bottom: 20px;
}
#profile .list .title {
    font-weight: 500;
    font-size: 13px;
    color: #aaa;
    position: relative;
    text-transform: uppercase;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}
#profile .list .contact-info {
    font-size: 14px;
    padding: 13px 0 13px 0;
    border-bottom: 1px dotted #ddd;
}
#profile .list .item-none {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #888;
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 25px;
}
#profile .list .add{
    display: inline-block;
    float: right;
    cursor: pointer;
}
#profile .list .add:hover{
    color: #0dcaf0;
}
#profile .main {
    display: inline-block;
    box-sizing: content-box;
    margin: auto;
    width: auto;
}

.image {
    /* position: absolute;
    top: 10px;
    left: 10px; */
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0px;
}

.text {
    /* position: absolute;
    top: 10px;
    left: 160px; */
    display: inline-block;
    padding: 10px;
}

b {
    display: inline-block;
    color: #666;
    font-weight: 500;
    width: 110px;
    left: 0px;
}

#profile .title {
    font-size: 26px;
    font-weight: normal;
    color: black;
}

#profile .sub-title {
    font-size: 16px;
    color: #aaa;
    padding: 8px 0px;
}

.menu-box .box-title {
    padding: 15px;
}

.menu-box .box-act {
    position: relative;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
    color: #555;
    padding: 10px 10px 10px 20px;
}

.menu-box .active {
    color: blue;
    font-weight: bold;
    background-color: #f6f6f6;
}
