/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : May 4, 2022, 8:38:21 AM
    Author     : PC
*/

#base-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 3;
    width: 100px;
}

.items {
    position: relative;
    z-index: 1000;
}

.item {
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    color: rgba(255, 255, 255, 0.3);
    z-index: 9999;
}

.item-inner {
    width: 70%;
    height: calc(8vh);
    margin-left: 15%;
}

.active {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.user-ava {
    margin-top: 15%;
    border-radius: 50%;
}

.img-sm {
    width: 55px;
    height: 55px;
}

.inner-icon {
    padding-top: 10%;
}

.inner-content {
    font-size: small;
}

.inner-content p {
    font-weight: bold;
}

.main {
    margin-left: 100px;
    width: calc(80vw);
}

.main-header {
    height: calc(8vh);
    border-bottom: 2px solid #eee;
}

#header-title {
    margin: 0%;
    text-transform: uppercase;
    color: #ccc;
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 3px;
}

#header-content {
    margin: 0%;
    font-size: 20px;
    font-weight: 300;
    color: #222;
}

.sub-infor .header-act {
    width: 50%;
    display: inline-block;
}